events {
    worker_connections 1024;
}

http {
    server {
        listen 80;
        server_name ${DOMAIN_NAME};

        location / {
            return 301 https://$host$request_uri;
        }
    }

    server {
        listen 443 ssl;
        server_name ${DOMAIN_NAME};

        ssl_certificate /etc/ssl/certs/nginx-selfsigned.crt;
        ssl_certificate_key /etc/ssl/private/nginx-selfsigned.key;

        # Authelia
        location /authelia {
            internal;
            proxy_pass http://authelia:9091;
        }

        # Gitea
        location / {
            auth_request /authelia/auth;
            auth_request_set $user $upstream_http_remote_user;
            auth_request_set $email $upstream_http_remote_email;
            auth_request_set $groups $upstream_http_remote_groups;
            proxy_set_header Remote-User $user;
            proxy_set_header Remote-Email $email;
            proxy_set_header Remote-Groups $groups;

            proxy_pass http://gitea:3000;
        }

        # Grafana
        location /grafana/ {
            auth_request /authelia/auth;
            auth_request_set $user $upstream_http_remote_user;
            auth_request_set $email $upstream_http_remote_email;
            auth_request_set $groups $upstream_http_remote_groups;
            proxy_set_header X-WEBAUTH-USER $user;
            proxy_set_header Remote-Email $email;
            proxy_set_header Remote-Groups $groups;

            proxy_pass http://grafana:3000/;
        }

        # Authelia portal
        location /auth/ {
            proxy_pass http://authelia:9091/;
        }
    }
}
